<header class="header">
    <div class="container">
        <nav class="navbar">
            <img  class="Logo" src="/assets/img/Logo.png" alt="Logo" height="110px" width="110px">
            <ul class="lista">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos <i class="fas fa-chevron-down"></i> </a>
                    <ul class="sublista">
                        <li><a href="/productos#toners">Toners</a></li>
                        <li><a href="/productos#cartuchos">Cartuchos</a></li>
                        <li><a href="/productos#otros">Otros</a></li>
                    </ul>
                </li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/contactos">Contactos</a></li>
            </ul>
            <h1 id="Titulo">Tintas y Toners</h1>
        </nav>
    </div>
</header>