<div class="contenido">
        <h1 class="logo11">Contactanos</h1>
        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
                <form action="">
                    <p>
                        <label class="oo">Nombre</label>
                        <input type="text" name="name">
                    </p>
                    <p>
                        <label class="oo">Apellidos</label>
                        <input type="text" name="fullname">
                    </p>
                    <p>
                        <label class="oo">Email</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label class="oo">Telefono</label>
                        <input type="tel" name="telefono">
                    </p>
                    <p>
                        <label class="oo">Asunto</label>
                        <input type="tel" name="asunto">
                    </p>
                    <p class="block">
                       <label class="oo">Mensaje</label> 
                        <textarea name="mensaje" rows="4"></textarea>
                    </p>
                    <p class="block">
                        <button>
                            Enviar
                        </button>
                    </p>
                </form>
            </div>
            <div class="contact-info">
                <h4>Para mas informacion:</h4><br>
                <ul>
                    <li><i class="fas fa-phone"></i> 809-788-8102</li>
                    <li><i class="fas fa-envelope-open-text"></i> TintasyToners@gmail.com</li>
                </ul>
            </div>
        </div>
    <div class="mapa1">
        <h2 id="mapa">Mapa</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.4541215382574!2d-69.98357698579608!3d18.50836957437943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf8a4963214207%3A0x2722e472438fb2a5!2sCiudad%20Real%20II!5e0!3m2!1ses-419!2sdo!4v1622396498133!5m2!1ses-419!2sdo" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="anuncio1">
        <h2 id="anuncio">Anuncio</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Q0cp8RWbZyU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    


