<body>
    <div>
        <section class="Productos">
            <div class="Toners">
                <h2 id="toners" class="subtemas">Toners</h2>
                <h4 class="Eslogans">Escoge entre los productos de mas calidad</h4>
                <div class="imagentoner2">
                    <div>
                        <a href=""><img src="/assets/img/94A.jpg" class="imagentoner" alt="Toner 94A"></a>
                        <p class="descriptoner">Toner hp 94A</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/17A.jpg" class="imagentoner" alt="Toner17A"></a>
                        <p class="descriptoner">Toner hp 17A</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/35A.jpg" class="imagentoner" alt="Toner35A"></a>
                        <p class="descriptoner">Toner hp 35A</p>
                    </div>
                </div>
                <div class="imagentoner3">
                    <div>
                        <a href=""><img src="/assets/img/35A.jpg" class="imagentoner" alt="Toner35A"></a>
                        <p class="descriptoner">Toner hp 35A</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/35A.jpg" class="imagentoner" alt="Toner35A"></a>
                        <p class="descriptoner">Toner hp 35A</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/35A.jpg" class="imagentoner" alt="Toner35A"></a>
                        <p class="descriptoner">Toner hp 35A</p>
                    </div>
                </div>
                <div class="Cartuchos">
                <h2 class="subtemas2" id="cartuchos">Cartuchos</h2>
                <div class="car">
                    <div>
                        <a href=""><img src="/assets/img/cartuchos667.png" id="cartuchos667"  class="imagenCartuchos" alt="Cartuchos 667"></a>
                        <p class="descripcartuchos">Cartuchos hp 667</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/cartuchos122.png" id="cartuchos122"  class="imagenCartuchos" alt="Cartuchos 122"></a>
                        <p class="descripcartuchos">Cartuchos hp 122</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/cartuchos664.png" id="cartuchos664" class="imagenCartuchos" alt="Cartuchos 664"></a>
                        <p class="descripcartuchos">Cartuchos hp 664</p>
                    </div>
                </div>
                </div>
            <div class="Otros">
                <h2 class="subtemas" id="otros">Otros</h2>
                <h4 class="Eslogans">Impresoras, Tintas, etc.</h4>
                <div class="imagenesotros">
                    <div>
                        <a href=""><img src="/assets/img/impresoraepson.jpg" class="imagenotros" alt="Impresora Epson"></a>
                        <p class="descritptoner">Impresora Epson</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/resmas.jpg" class="imagenotros" alt="Resmas de Papel"></a>
                        <p class="descritptoner">Resmas de Papel</p>
                    </div>
                    <div>
                       <a href=""><img src="/assets/img/tintas.jpg" class="imagenotros" alt="Tintas Epson"></a>
                        <p class="descriptoner">Tintas Epson</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="AcercadeNosotros">
            <h1 class="subtemas2" id="nosotros">Acerca de Nosotros</h1>
            <div class="nos">
                <img src="/assets/img/nosotros.jpg" class="imagen" alt="Acerca de Nosotros">
                <ul>
                    <div id="mision">
                        <li class="descripnos">
                            Mision<br>
                            Nuestra misión es satisfacer las necesidades de todos nuestros
                            clientes y hacer más sencilla sus actividades ofreciendo productos de
                            calidad y larga duración.
                        </li>
                        <br><br><br><br><br>
                    </div>
                    <div id="vision">
                        <li class="descripnos">
                            Vision<br>
                            Darnos a conocer en todo el país, y poder distribuir a las grandes
                            empresas, vendiéndolo de una forma diferente a la tradicional
                            (virtualmente).
                        </li>
                        <br><br><br><br><br>
                    </div>
                    <div id="valores">
                        <li class="descripnos">
                            Valores<br>
                            Marcar la diferencia en todo lo que hacemos gracias a la pasión por
                            ganar y a la creación de brechas respecto de nuestros competidores
                            con disciplina, rapidez y una ejecución sin errores.
                        </li>
                </ul>
                </div>
            </div>
        </section>
        <section class="Contactos">
                <h1 class="subtemas" id="contactos">Contactos</h1>
                <h4 class="Eslogans">¡Contacta con nosotros, disponobles de Lunes a Lunes!</h4>
                <div class="aligncontact">
                    <div id="ordenes">
                        <img src="/assets/img/pedidos.png" class="imagencontactos" alt="Pedidos">
                        <h3 class="descripcontactos">Ordenes</h3>
                        <p class="descripcontactos">Envios gratis en toda la zona metropolitana de S.D</p>
                    </div>
                    <div id="Horario">
                        <img src="/assets/img/horario.png" class="imagencontactos" alt="Horario">
                        <h3 class="descripcontactos">Horas Laborales</h3>
                        <p class="descripcontactos">
                            Lunes - Sabado /
                                
                            10 AM - 6 PM
                        </p>
                    </div>
                    <div >
                        <div id="contactos1">
                            <img src="/assets/img/contactos.png" class="imagencontactos" alt="Contactos">
                        </div>
                        <h3 class="descripcontactos">Contactos</h3>
                        <p class="descripcontactos">
                            <a id="correo" href="">carlos.ml.jimenezz@gmail.com</a> 
                            
                            Whatsapp: (829) 406 2525
                        </p>
                    </div>
                </div>
        </section>
    <footer class="Footer">
        <div class="alignfooter">
            <div class="copyright">
                <p>TintasyToners©</p>
            </div> 
            <div class="redes">
                <a href=""><img src="/assets/img/fb.png" class="imagenredes" id="facee" alt="Facebook"></a>
                <a href=""><img src="/assets/img/ig.png" class="imagenredes" id="Instagram" alt="Instagram"></a>
            </div>
        </div>
    </footer>
    </div>
</body>