<section class="AcercadeNosotros2">
            <h1 class="subtemas2" id="nosotros">Acerca de Nosotros</h1>
            <div class="nos">
                <img src="/assets/img/nosotros.jpg" class="imagen" alt="Acerca de Nosotros">
                <ul>
                    <div id="mision">
                        <li class="descripnos">
                            Mision<br>
                            Nuestra misión es satisfacer las necesidades de todos nuestros
                            clientes y hacer más sencilla sus actividades ofreciendo productos de
                            calidad y larga duración.
                        </li>
                        <br><br><br><br><br>
                    </div>
                    <div id="vision">
                        <li class="descripnos">
                            Vision<br>
                            Darnos a conocer en todo el país, y poder distribuir a las grandes
                            empresas, vendiéndolo de una forma diferente a la tradicional
                            (virtualmente).
                        </li>
                        <br><br><br><br><br>
                    </div>
                    <div id="valores">
                        <li class="descripnos">
                            Valores<br>
                            Marcar la diferencia en todo lo que hacemos gracias a la pasión por
                            ganar y a la creación de brechas respecto de nuestros competidores
                            con disciplina, rapidez y una ejecución sin errores.
                        </li>
                </ul>
                </div>
            </div>
        </section>
         <footer class="Footer">
        <div class="alignfooter">
            <div class="copyright">
                <p>TintasyToners©</p>
            </div> 
            <div class="redes">
                <a href=""><img src="/assets/img/fb.png" class="imagenredes" id="facee" alt="Facebook"></a>
                <a href=""><img src="/assets/img/ig.png" class="imagenredes" id="Instagram" alt="Instagram"></a>
            </div>
        </div>
    </footer>