<section class="Productos">
            <div class="Toners">
                <h2 id="toners" class="subtemas">Toners</h2>
                <h4 class="Eslogans">Escoge entre los productos de mas calidad</h4>
                <div class="imagentoner2">
                    <div>
                        <a href=""><img src="/assets/img/94A.jpg" class="imagentoner" alt="Toner 94A"></a>
                        <p class="descriptoner">Toner hp 94A</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/17A.jpg" class="imagentoner" alt="Toner17A"></a>
                        <p class="descriptoner">Toner hp 17A</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/35A.jpg" class="imagentoner" alt="Toner35A"></a>
                        <p class="descriptoner">Toner hp 35A</p>
                    </div>
                </div>
                <div class="imagentoner3">
                    <div>
                        <a href=""><img src="/assets/img/35A.jpg" class="imagentoner" alt="Toner35A"></a>
                        <p class="descriptoner">Toner hp 35A</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/35A.jpg" class="imagentoner" alt="Toner35A"></a>
                        <p class="descriptoner">Toner hp 35A</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/35A.jpg" class="imagentoner" alt="Toner35A"></a>
                        <p class="descriptoner">Toner hp 35A</p>
                    </div>
                </div>
                <div class="Cartuchos">
                <h2 class="subtemas2" id="cartuchos">Cartuchos</h2>
                <div class="car">
                    <div>
                        <a href=""><img src="/assets/img/cartuchos667.png" id="cartuchos667"  class="imagenCartuchos" alt="Cartuchos 667"></a>
                        <p class="descripcartuchos">Cartuchos hp 667</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/cartuchos122.png" id="cartuchos122"  class="imagenCartuchos" alt="Cartuchos 122"></a>
                        <p class="descripcartuchos">Cartuchos hp 122</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/cartuchos664.png" id="cartuchos664" class="imagenCartuchos" alt="Cartuchos 664"></a>
                        <p class="descripcartuchos">Cartuchos hp 664</p>
                    </div>
                </div>
                </div>
            <div class="Otros">
                <h2 class="subtemas" id="otros">Otros</h2>
                <h4 class="Eslogans">Impresoras, Tintas, etc.</h4>
                <div class="imagenesotros">
                    <div>
                        <a href=""><img src="/assets/img/impresoraepson.jpg" class="imagenotros" alt="Impresora Epson"></a>
                        <p class="descritptoner">Impresora Epson</p>
                    </div>
                    <div>
                        <a href=""><img src="/assets/img/resmas.jpg" class="imagenotros" alt="Resmas de Papel"></a>
                        <p class="descritptoner">Resmas de Papel</p>
                    </div>
                    <div>
                       <a href=""><img src="/assets/img/tintas.jpg" class="imagenotros" alt="Tintas Epson"></a>
                        <p class="descriptoner">Tintas Epson</p>
                    </div>
                </div>
            </div>
        </section>
        <footer class="Footer2">
        <div class="alignfooter">
            <div class="copyright">
                <p>TintasyToners©</p>
            </div> 
            <div class="redes">
                <a href=""><img src="/assets/img/fb.png" class="imagenredes" id="facee" alt="Facebook"></a>
                <a href=""><img src="/assets/img/ig.png" class="imagenredes" id="Instagram" alt="Instagram"></a>
            </div>
        </div>
    </footer>
